<header>
	<div class="container-fluid">
		<div class="row align-items-center">
			<!-- Site Menu -->
			<div class="col-lg-5 d-none d-lg-block">
				<nav class="main-menu fs-12 lh-70">
					<ul>
						<li class="active"><a href="/">Home</a>
						</li>
						#foreach($menu in $menu_list)
							<li>
							#if($menu.module_id == 0)

							<a href="/#if($menu.module == 1)content#elseif($menu.module == 2)category#elseif($menu.module == 3)blog#end.jsp">${menu.menu_name}</a>
							#else
							<a href="/#if($menu.module == 1)content#elseif($menu.module == 2)category#elseif($menu.module == 3)blog#end.jsp?id=${menu.module_id}">${menu.menu_name}</a>
							#end

							<ul class="sub-menu">
								#foreach($submenu in $sub_menu_list)
								#if($submenu.parent_id == $menu.id)
								<li>
									#if($submenu.module_id == 0)

									<a href="/#if($submenu.module == 1)content#elseif($submenu.module == 2)category#elseif($submenu.module == 3)blog#end.jsp">${submenu.menu_name}</a>
									#else
									<a href="/#if($submenu.module == 1)content#elseif($submenu.module == 2)category#elseif($submenu.module == 3)blog#end.jsp?id=${submenu.module_id}">${submenu.menu_name}</a>
									#end
								</li>
								#end
								#end
							</ul>
							</li>
						#end

					</ul>
				</nav>
			</div>
			<!-- end col -->
			<!-- Site Logo -->
			<div class="col-lg-2 col-6">
				<div class="logo text-center">
					<a href="/"><img src="/assets/front/img/logo.png" alt="zimate"></a>
				</div>
			</div>

			<!-- Site Hader cart -->
			<div class="col-lg-5 col-6">
				<div class="header-right text-right">
					<ul>
						<li><a href="#"><i class="ti ti-user"></i></a></li>
						<li class="search"><a href="#"><i class="ti ti-search"></i></a></li>
						<li class="cart"><a href="#"><i class="ti ti-bag"></i> <span>2</span></a></li>
					</ul>
				</div>
			</div>

			<div class="col-12 d-none menu-show">
				<div class="mobilemenu"></div>
			</div>
		</div>
	</div>
</header>

<div class="cart-section">
	<div class="cart-content">
		<div class="cart-title m-b-30">
			<div class="row">
				<div class="col-8">
					<h4 class="fs-20 m-b-20 fw-600 m-t-10">Your Cart</h4>
				</div>

				<div class="col-4">
					<div class="cart-close">
						<i class="ti ti-close"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="cart-item">
			<div class="single-cart-item">
				<div class="row">
					<div class="col-4">
						<img src="/assets/front/img/cart/01.jpg" alt="Cart-Item">
					</div>
					<div class="col-8 d-flex align-items-center">
						<div class="item-details">
							<a href="#" class="item-name">Man Pink Purse Isolated</a> <span>1
								x $19.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="single-cart-item">
				<div class="row">
					<div class="col-4">
						<img src="/assets/front/img/cart/02.jpg" alt="Cart-Item">
					</div>
					<div class="col-8 d-flex align-items-center">
						<div class="item-details">
							<a href="#" class="item-name">Woman Blue Top Isolated</a> <span>1
								x $20.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="single-cart-item">
				<div class="row">
					<div class="col-4">
						<img src="/assets/front/img/cart/03.jpg" alt="Cart-Item">
					</div>
					<div class="col-8 d-flex align-items-center">
						<div class="item-details">
							<a href="#" class="item-name">Latest Apple Smart Watch</a> <span>1
								x $15.00</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cart-total-price">
			<h6 class="m-t-30 fw-600">Total: $54.00</h6>
		</div>

		<div class="cart-action">
			<a href="cart.html" class="cart-action-btn">View Cart</a> <a
				href="checkout.html" class="cart-action-btn">Check Out</a>
		</div>
	</div>

	<div class="cart-overly"></div>
</div>