
         <div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-default d-none d-xl-block">
          <div class="sidebar-inner">
          
           <div class="ace-scroll flex-grow-1" ace-scroll>
            
            <div class="sidebar-section my-2">
            
            </div>
          
            <ul class="nav has-active-border" role="navigation" aria-label="Main">
                
               
               <li class="nav-item-caption">
               		<span class="fadeable pl-3">MAIN</span>
               		<span class="fadeinable mt-n2 text-125">&hellip;</span>
               		<!--
               			OR something like the following (with .hideable text)
               		-->
               		<!--
               			<div class="hideable">
               				<span class="pl-3">MAIN</span>
               			</div>
               			<span class="fadeinable mt-n2 text-125">&hellip;</span>
               		-->
               </li>
               
               
               <li class="nav-item">
               
                 <a href="/admin" class="nav-link">
               	 <i class="nav-icon fa fa-tachometer-alt"></i>
               	 <span class="nav-text fadeable">
               	  <span>Dashboard</span>
               	 </span>
               
               
                 </a>
               
                 	<b class="sub-arrow"></b>
                 
               </li>
               <li class="nav-item #if(${pagetitle} == 'Menu') active #end ">
               
                 <a href="/admin/menu/index.jsp" class="nav-link ">
               	 <i class="nav-icon fa fa-list"></i>
               	 <span class="nav-text fadeable">
               	  <span>Menu</span>
               	 </span>
               	 </a>
               </li>
               
               <li class="nav-item #if(${pagetitle} == 'Users') active #end">
               
                 <a href="/admin/user/index.jsp" class="nav-link ">
               	 <i class="nav-icon fa fa-users"></i>
               	 <span class="nav-text fadeable">
               	  <span>Users</span>
               	 </span>
               	 </a>
               </li>
               <li class="nav-item #if(${pagetitle} == 'Category') active #end">
               
                 <a href="/admin/category/index.jsp" class="nav-link ">
               	 <i class="nav-icon fa fa-list"></i>
               	 <span class="nav-text fadeable">
               	  <span>Category</span>
               	 </span>
               	 </a>
               </li>
               <li class="nav-item #if(${pagetitle} == 'Product') active #end">
               
                 <a href="/admin/product/index.jsp" class="nav-link ">
               	 <i class="nav-icon fa fa-cube"></i>
               	 <span class="nav-text fadeable">
               	  <span>Product</span>
               	 </span>
               	 </a>
               </li>
               <li class="nav-item #if(${pagetitle} == 'Banner') active #end">
               
                 <a href="/admin/banner/index.jsp" class="nav-link ">
               	 <i class="nav-icon fa fa-image"></i>
               	 <span class="nav-text fadeable">
               	  <span>Banner</span>
               	 </span>
               	 </a>
               </li>
               <li class="nav-item #if(${pagetitle} == 'Partner') active #end">
               
                 <a href="/admin/partner/index.jsp" class="nav-link ">
               	 <i class="nav-icon fa fa-user"></i>
               	 <span class="nav-text fadeable">
               	  <span>Partner</span>
               	 </span>
               	 </a>
               </li>
            </ul>
          
           </div><!-- /.sidebar scroll -->
          
           
          </div>         
         </div><!-- /#sidebar -->
