<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="target-densitydpi=device-dpi" />
<meta name="HandheldFriendly" content="true" />

<title>Home Page</title>

<!-- MAIN CSS FILES===================================
	======================================================= -->
<!-- Animate Css -->
<link rel="stylesheet" href="/assets/front/css/animate.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/front/css/bootstrap-4.3.min.css">
<!-- Icon CSS -->
<link rel="stylesheet" href="/assets/front/css/all.min.css">
<link rel="stylesheet" href="/assets/front/css/themify-icons.css">
<!-- Mean Menu CSS -->
<link rel="stylesheet" href="/assets/front/css/slicknav.min.css">
<!-- Slick CSS -->
<link rel="stylesheet" href="/assets/front/css/slick-1.9.0.css">
<!-- Google Fonts -->

<link
	href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;display=swap"
	rel="stylesheet">
<!-- Helper Css -->
<link rel="stylesheet" href="/assets/front/css/helper.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="/assets/front/css/zimate-1.0.css">
<!-- Responsive styles-->
<link rel="stylesheet" href="/assets/front/css/responsive-1.0.css">
<!-- modernizr js -->
<script src="/assets/front/js/modernizr-2.8.3.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/assets/admin/node_modules/jqtree/jqtree.css">
	<link rel="stylesheet" type="text/css" href="/assets/admin/application/views/default/pages/partials/elements/@page-style.css">
</head>
<body>
	#parse( "layout/front/menu.html" ) #parse( $BODY )

	<footer class="footer-black">

		<div class="footer-bottom-area p-t-30 p-b-30 divider">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<div class="copyright-text">
							<p style="color: #ccc;">Copyright © 2019. All Rights Reserved</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<div class="payment-method text-right copyright-text">
							<ul>
								<li><a href="#" style="color: #ccc;"><i
										class="ti ti-facebook"></i></a></li>
								<li><a href="#" style="color: #ccc;"><i
										class="ti ti-twitter"></i></a></li>
								<li><a href="#" style="color: #ccc;"><i
										class="ti ti-instagram"></i></a></li>
								<li><a href="#" style="color: #ccc;"><i
										class="ti ti-youtube"></i></a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>



	<script src="/assets/front/js/jquery-1.12.4.min.js"></script>

	<script src="/assets/front/js/bootstrap-4.3.min.js"></script>

	<script src="/assets/front/js/popper-1.14.7.js"></script>

	<script src="/assets/front/js/jquery.slicknav.min.js"></script>

	<script src="/assets/front/js/slick.min-1.9.0.js"></script>

	<script src="/assets/front/js/sweetalert.min-1.0.js"></script>

	<script src="/assets/front/js/zimate-1.0.js"></script>

	<script type="text/javascript" src="/assets/admin/node_modules/jqtree/tree.jquery.js"></script>

	<script type="text/javascript" src="/assets/admin/application/views/default/pages/partials/treeview/@page-script.js"></script>
</body>

</html>





