<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>Hellojsp Admin</title>
	
	  <link rel="stylesheet" href="/assets/admin/vendors/ti-icons/css/themify-icons.css">
	  <link rel="stylesheet" href="/assets/admin/vendors/css/vendor.bundle.base.css">
	
	  <link rel="stylesheet" href="/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
	
	  <link rel="stylesheet" href="/assets/admin/css/vertical-layout-light/style.css">
	
	  <link rel="shortcut icon" href="/assets/admin/images/favicon.png" />
    
</head>
<body class="sidebar-dark">
<div class="container-scroller">
	#parse( "layout/admin/top_bar.html" )

    <div class="container-fluid page-body-wrapper">
      
      #parse( "layout/admin/menu.html" )
	  <div class="main-panel">
        <div class="content-wrapper">      
      		#parse( $BODY )
      
      	</div>
      
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright  © 2020</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
    
    </div>
</div>



  <script src="/assets/admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="/assets/admin/vendors/inputmask/jquery.inputmask.bundle.js"></script>
  
  <script src="/assets/admin/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  
  <script src="/assets/admin/js/off-canvas.js"></script>
  <script src="/assets/admin/js/hoverable-collapse.js"></script>
  <script src="/assets/admin/js/template.js"></script>
  <script src="/assets/admin/js/settings.js"></script>
  <script src="/assets/admin/js/todolist.js"></script>
  <script src="/assets/admin/js/inputmask.js"></script>
  <script src="/assets/admin/js/data-table.js"></script>
</body>
</html>
